<div class="mb-5"> 
	<span href="#" class="link-title p-2 pl-4">
		Historique des commandes
	</span>
</div>

<div class="table-order text-center">
	<table class="table table-striped">
		<thead>
			<tr>
				<th class="p-1" scope="col">Commande</th>
				<th class="p-1" scope="col">Montant</th>
				<th class="p-1" scope="col">Statut</th>
				<th class="p-1" scope="col">Date</th>
				<th class="p-1" scope="col">Produits</th>
			</tr>
		</thead>
		<tbody>
			<% for (var i=0; i< orders.length; i++) { %>
				<tr>
					<td><a href="#"><%= orders[i].id %></a></td>
					<td><%= orders[i].cost %>€</td>
					<td style="color: orange;"><%= orders[i].state %></td>
					<td><%= orders[i].date.getDay()+"/"+orders[i].date.getMonth()+"/"+orders[i].date.getFullYear() %></td>
					<td><a href="#"> Liste des produits </td>
				</tr>
			<% } %>

		</tbody>
	</table>
</div>

<script type="text/javascript">
</script>