<link rel="stylesheet" type="text/css" href="/css/style-footer.css">

<div class="media text-center container">
	<div class="icon col my-4 mt-5">
	    <a class="media-link mr-4" href="https://instagram.com/ydogbe" target="_blank"><i class="fab fa-instagram"></i></a>
	    <a class="media-link ml-4" href="https://twitter.com/ydogbe_"><i class="fab fa-twitter" target="_blank"></i></a>
	</div>
</div>
<div class="contact text-center">
	 <a href="https://instagram.com/armel_rxl" target="_blank"> Online store by <span id="author"> Armel Rouxel</span></a>
</div>

<!-- Import Font Awesome -->
<script src="https://kit.fontawesome.com/5f21f19d3f.js"></script>