.jumbotron {
	width:100%;
}
.jumbotron img {
	width:100%;
}
.product-img {
	overflow: hidden;
	width: 100%;
}
.product-img img {
	filter: none;
	transition: 0.5s;
	text-align: center;
}
.product-img:hover img {
	filter: brightness(120%);
	transform: scale(1.05);
}
.product-name a, .product-name p {
	color: #5b5b5b;
	text-decoration: none;
}
.product-name p {
	color: black;
}