footer {
	background-color: black;
	height: 250px;
}

i.payment-logo {
	font-size: 30px;
	margin-left: 5px;
	margin-right: 5px;
	color:white;
}

.media-link i {
	font-size: 30px;
	color: white;
	border: 2px solid white;
	border-radius: 50%;
	padding: 15px;

	transition: 0.3s;
}

.media-link i:hover {
	border-radius: 40%;
}

#author a, #contact span {
	color: white;
	text-decoration: none;
}
#author  span{
	font-weight: 600;
}