<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <script src="https://kit.fontawesome.com/5f21f19d3f.js"></script>
        <!-- Import custom CSS -->
        <link rel="stylesheet" type="text/css" href="/css/style-mainpage.css">
        <link rel="stylesheet" type="text/css" href="/css/style-header.css">
        <link rel="stylesheet" type="text/css" href="/css/style-footer.css">
        <title>Hub principal du site</title>
    </head>
 
    <body>
    	<% include header %>

		<div id="content">
			<div class="title-content">YDOGBE.</div>
			<div class="product-list">
				<div class="product">
					<div class="product-img">
						<a class="product-img" href="/product/1">
							<img src="/img/img6.jpg">
						</a>
					</div>
					<div class="product-name"><a href="/product/1">(1966) Chine</a><p>29.99€</p></div>
				</div>
				<div class="product">
					<div class="product-img">
						<a class="product-img" href="/product/2">
							<img src="/img/img2.jpg">
						</a>
					</div>
					<div class="product-name"><a href="/product/2">(1966) Chine</a><p>29.99€</p></div>
				</div>
				<div class="product">
					<div class="product-img">
						<a class="product-img" href="/product/3">
							<img src="/img/img3.jpg">
						</a>
					</div>
					<div class="product-name"><a href="/product/3">(1966) Chine</a><p>29.99€</p></div>
				</div>
				<div class="product">
					<div class="product-img">
						<a class="product-img" href="/product/4">
							<img src="/img/img4.jpg">
						</a>
					</div>
					<div class="product-name"><a href="/product/4">(1966) Chine</a><p>29.99€</p></div>
				</div>
				<div class="product">
					<div class="product-img">
						<a class="product-img" href="/product/5">
							<img src="/img/img5.jpg">
						</a>
					</div>
					<div class="product-name"><a href="/product/5">(1966) Chine</a><p>29.99€</p></div>
				</div>
				<div class="product">
					<div class="product-img">
						<a class="product-img" href="/product/6">
							<img src="/img/img1.jpg">
						</a>
					</div>
					<div class="product-name"><a href="/product/6">(1966) Chine</a><p>29.99€</p></div>
				</div>
			</div>
		</div>
		
		<% include footer %>

    	<!--
    	<form action="log-out" method="post">
			<div id="deconnexion" class="section">
			    <input type="submit" name="deconnexion" value="Se déconnecter">
			</div>
		</form>
	-->
    </body>
</html>

<!--
<?php 
while ($logged_user = $request_logged_user->fetch()) {
	echo $logged_user['name'] . '<br/>';
}
?>
-->