<span> Bienvenue ! </span>
<span> Merci <%= name %> pour votre inscription ! </span>
<span>N'hésitez pas à parcourir la liste des produits disponibles en espérant que vous trouviez votre bonheur.</span>